.App {
  background: linear-gradient(to bottom, #105013, #032a54);
  text-align: center;
  height: 1080px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("/images/mzr4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #eceee3;
}

.App-link {
  color: #0e4581;
}

/* BodyComponent.css */
.body {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 25px;
}

.centered-text1 {
  font-family: 'Jockey One', sans-serif;
  color: #eceee3;
  font-size: 34px;
  margin: 5px 0;
}

.centered-text2 {
  font-family: 'Jockey One', sans-serif;
  color: #eceee3;
  font-size: 28px;
  margin: 2px 0;

}

/*CSS DO LABIRINTO*/
.maze {
  padding-top: 2%;
  margin-left: 170px;
  display: grid;
  grid-template-columns: repeat(10, 80px);
  grid-template-rows: repeat(10, 40px);
  width: 800px;
  height: 400px;
}

.cell {
  width: 80px;
  height: 40px;
  border: 2px solid #2c4c2a;
  background-color: #686060;
}


.end {
  background-image: url("/images/saida.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.start-node {
  background-image: url("/images/Maze-Runner2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff; /* Define a cor do texto para garantir a legibilidade */
}

.shortest-path-cell {
  background-color: #00ff00; /* Define a cor de fundo desejada para o caminho mais curto */
  color: #fff; /* Define a cor do texto para garantir a legibilidade */
}
.shortest-path {
  background-color: rgb(31, 68, 27);
}

.obstacle-cell {
  background-image: url("/images/Verdugo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff; /* Define a cor do texto para garantir a legibilidade */
}

.maze-container {
  display: flex;
  align-items:flex-start;
}

.message-container {
  height: max-content;
  width: fit-content;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px; /* Adicione margem à esquerda para separar o labirinto da mensagem */
}

.message {
  font-size: 18px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  animation: messageAnimation 1s infinite;
}

@keyframes messageAnimation {
  0% {
    color: #ffffff;
    transform: scale(1);

  }
  50% {
    color: #ff0000;
    transform: scale(1.1);
  }
  100% {
    color: #ffffff;
    transform: scale(1);
  }
}

.restart-buttom {
  margin-top: 10px;
  height: max-content;
  width: max-content;
  background-color: #363434; /* Define a cor de fundo para as células com obstáculos */
  border-radius: 10px;
  font-family: 'Jockey One', sans-serif;
  color: #fff; /* Define a cor do texto para garantir a legibilidade */
  animation: buttonAnimation 1s ease infinite;
}

@keyframes buttonAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

.restart-buttom:hover {
  animation: none;
}

body {
  margin: 0;
  font-family: 'Jockey One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Jockey One'
    monospace;
} 

.path {
  animation: pathAnimation 2s ease;
  background-color: #fd439f;
}
@keyframes pathAnimation {
  0% {
    background-color: #137fd9;

  }
  50% {
    background-color: #fd439f;
  }
  100% {
    background-color: #fd439f;
  }
}